:host {
    display: block;
}

:host>div {
    display: grid;
    grid-template-columns: minmax(0, 1fr) [grid-start] repeat(auto-fit, calc(2rem + 12em)) [grid-end] minmax(0, 1fr);
    gap: 1.5rem;

    position: relative;
}

.card-carousel {
    grid-column-start: grid-start;
    grid-column-end: grid-end;
}

.card-carousel::before {
    display: block;

    position: absolute;
    top: 0;
    left: 2.5em;
    z-index: 1;

    height: 100%;
    width: calc(100% - 5em);

    content: "";

    box-shadow: inset 0 0 .75em .75em var(--dark-theme-color);

    pointer-events: none;
}

.arrow {
    display: flex;
    justify-content: center;
    align-items: center;

    --width: 4em;
    --margin: -6em;

    position: absolute;
    top: 0;
    left: calc(var(--width) + var(--margin));

    height: 100%;
    width: var(--width);

    opacity: 0;

    transition: .2s ease-in-out opacity;
}

.arrow.show {
    opacity: 1;
}

.arrow:last-child {
    left: auto;
    right: calc(var(--width) + var(--margin));
}

.arrow svg {
    width: 25%;

    fill: var(--light-theme-color);
}