header {
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 1em;
}

app-search-bar {
    grid-row: 2 / 3;
}

@media (min-width: 1260px) {
    header {
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 40% 1fr;
    }

    app-search-bar {
        grid-row: unset;
    }
}